/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-color: #8BC6EC;
	background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
	text-align: center;
	height: 100vh;
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-family: monospace;
	flex-direction: column;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.title {
	font-size: 3rem;
	padding: 2rem;
}
.container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 70vh;
}
.board {
	display: grid;
	grid-template-columns: 15rem 15rem 15rem;
	grid-template-rows: 15rem 15rem 15rem;
}
.tile {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 15rem;
	border: 2px solid black;
}
.reset {
	z-index: 1;
	margin-bottom: 2rem;
}
.tile:first-child,
.tile:nth-child(2),
.tile:nth-child(3) {
	border-top: none;
}
.tile:last-child,
.tile:nth-child(8),
.tile:nth-child(7) {
	border-bottom: none;
}
.tile:nth-child( 3n +1) {
	border-left: none;
}
.tile:nth-child( 3n +3) {
	border-right: none;
}